
html{

    scroll-behavior: smooth;
    
}



body{
    
    background: rgb(0, 0, 0);    
    font-size: 35px;
    text-decoration: none;
    color: #fff;
     
    align-items: center; 
    background-image: url(./background.svg);
    display: flex;
    flex-wrap: wrap;  
}
.constant{
    position: sticky;
    top: 0;
    color: #4da3ff;
    text-decoration: none;
    padding: 15px 0;
    text-align: center; 
    z-index: 5000;
    text-shadow: 0 0 10px;
    font-size: 30px;
    display: flex;
    box-shadow: 0 0 10px;
    border-radius: 10px;
}

.button{
    width: 250;
    height: 100px;
    box-shadow: 0 0 15px #4da3ff;
    background-color: transparent;
    border-radius: 35px;
    font-size: 30px;
    color: #4da3ff;
}
*{
    box-sizing: border-box;

}
img{
    max-width: 95%;
}
.start{
    color: #4da3ff;
    text-decoration: none;
}
.start:hover{
    font-size: 32px;
}
.button-2{
    width: 250;
    height: 100px;
    background-color: transparent;
    border-radius: 35px;
    font-size: 30px;
    box-shadow: 0 0 15px #F0F;
    
}

.free{
    color: #F0F;
    text-decoration: none;
}
.free:hover{

    font-size: 32px;

}

#top{
    text-decoration: none;
    color: #fff;
}

#top:hover{
    
    font-size: 35px;
}

.botton-img{
    
    align-items: center;
    border: none;
    padding: 50px 50px;
    width: 50px;
    height: 50px;
    text-shadow: 0 0 15px;
    display: flex;
    margin: 0;
    gap: 5px;

}
.img{
    justify-content: left;
}
.size{
   display: flex;
   align-items: center;
   padding: 10px 10px;
   border-radius: 50%;
   background-image: linear-gradient(to right, #000, #c9c9c9);
   text-shadow: 0 0 25px;
}
.veiw{
    width: 100%;
    height: 120px;
    
}
.c{
    font-family: monospace;
}
.cl{
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    
    
    align-items: center;
}

.word{
    
    overflow: hidden;
    color: #fff;
    border-right: .15em solid #fff;
    white-space: nowrap;
    width: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    --char-count: 20;
    --total-duration: 5s;
    animation: typing-earising var(--total-duration) steps(var(--char-count)) infinite, blink0.75s step-end infinite;
    width: 0;
}
@keyframes typing-earising{
   
0%, 10%{width: 0;}
40%{width: 30%;}
60%{width: 30%;}
92%{width: 0;}
100%{width: 0;}
}

@keyframes blink{
    from, to{border-color: transparent;}
    50%{border-color: #fff;}
}
.pic{
    
    display: block;
    width: 30%;
}
.text{
    width: 70%;
    display: flex;
    gap: 5px;
    justify-content: right;
    align-items: center;
    color: #4da3ff;
}
#ahmed{
    color: #fff;
}

@keyframes move-up-down {
    0%{transform: translateY(0);}
    50%{transform: translateY(-30px);}
    100%{transform: translateY(0);}
}
.moving-img{
    animation-name: move-up-down;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    justify-content: left;
 
}
#logo{
display: flex;
justify-content: center;


    
}

.queuo{
    justify-content: left;
    border-left: 0px;
    left: 100%;
    
}
.about{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: right;
    
    color: #fff;
    float: 1;
    
}
.team{
    width: 100%;
    display: flex;
    align-items: center;
    
}

.ar{

    width: 50%;
    align-items: center;
    justify-content: right;

}
.en{

    width: 50%;
    align-items: center;
    justify-content: left;

}

